body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f3f8ff;

}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background: #fff;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    width: 500px;
    margin: 80px auto;
    height: 500px;
}

.brand {
    text-align: center;
    margin-bottom: 20px;
}

.brand img {
    height: 40px;
}

.brand h1 {
    margin-top: 8px;
    font-size: 20px;
    color: #0b3b6f;
}

.field {
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #0b63d6;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #0b3b6f;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
}

.btn:hover {
    background: #084c9e;
}
.signup{
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
}
.signup:hover {
    background: #218838;
}
.error {
    color: red;
    font-size: 12px;
    display: none;
    margin-top: 4px;
}

.forget {
    text-align: left;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #0b3b6f;
}
.forget a{
    text-decoration: none;
    }